<div class="mt-4">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)" multiple>
        <label class="custom-file-label" for="customFile" id="customFileLabel">Selecionar arquivo</label>
    </div>
    <div class="progress mt-2">
        <div class="progress-bar" role="progressbar"
        aria-valuenow="25" 
        aria-valuemin="0"
        aria-valuemax="100"
        [style.width]="progress + '%'"
        >{{ progress }}%
        </div>
    </div>
</div>


<div class="mt-4">
    <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Enviar</button>
</div>